# Database connection string (PostgreSQL Neon)
DATABASE_URL="postgresql://user:password@endpoint.neon.tech/neondb?sslmode=require"

# JWT Secret for cookie authentication
JWT_SECRET="semaphore_ultra_secure_jwt_secret_key_change_in_production_2026"
